@import "tailwindcss";

.toggle-item[data-state='on']{
  background: var(--filter-selected-color);
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animated-box {
  animation: slideIn 0.8s ease-out forwards;
}